#    Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives: 
<ul>
    <li>List of popular languages for data science</li>
    <li>List of popular libraries of data science</li>
    <li>Introduction for arithmetic expressions in python</li>
</ul>

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. ggplot

|Data Science Tools |
|-------------|
|MongoDB|
|Hadoop|
|Tensorflow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
NDOH NDOH JULES MOISE YANNICK